@model Blog.Core.Utilities.Results.IDataResult<IEnumerable<Blog.Entities.DTOs.CategoryDto>>
@{
    Layout = "_Layout";
    ViewBag.Title = "Categories Index";
}

@if (Model.Success)
{
    <div id="modalPlaceHolder" aria-hidden="false"></div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i> Categories
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" style="width:100%">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Last Modified Date</th>
                        <th>Last Modified By</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Image</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Last Modified Date</th>
                        <th>Last Modified By</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var category in Model.Data)
                    {
                        <tr>
                            <td>
                                <img src="@category.ImageUrl" alt="@category.CategoryName" class="my-image-table"/>
                            </td>
                            <td>@category.CategoryName</td>
                            <td>@category.Description</td>
                            @if (category.Status)
                            {
                                <td>Active</td>
                            }
                            else
                            {
                                <td>Not Active</td>
                            }
                            <td>@category.CreatedBy</td>
                            <td>@category.CreatedDate.ToString("dd'.'MM'.'yyyy HH:mm:ss")</td>
                            @if (category.LastModifiedBy == null && category.LastModifiedDate == null)
                            {
                                <td>Category has not been updated.</td>
                                <td>Category has not been updated.</td>
                            }
                            else
                            {
                                <td>@category.LastModifiedBy</td>
                                <td>@category.LastModifiedDate</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


@if (Model.Success == false)
{
    <div class="alert alert-danger" style="margin-top: 10px">
        @Model.Message<br/>
        <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Click here for go to the Dashboard Page</a>
    </div>
}

@section Scripts {
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
}